<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691255811403-o2933oeo08dsv3h49ohk8ioridnbjae9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691255811403-o2933oeo08dsv3h49ohk8ioridnbjae9</string>
	<key>API_KEY</key>
	<string>AIzaSyDk0U6l-idSYUYpZuI4GDBZkU9u_TmuzWk</string>
	<key>GCM_SENDER_ID</key>
	<string>691255811403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditTutorial</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-tutorial-1388f</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-tutorial-1388f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691255811403:ios:0ae94dde00e5c7f4bddcce</string>
</dict>
</plist>